recursive-include green_GA *.py
recursive-include green_GA *.yaml
recursive-include green_GA *.json
recursive-include green_GA *.csv
recursive-include green_GA *.md
recursive-include green_GA *.exe
recursive-include green_GA *.gitkeep